@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/roboto.woff") format("woff"),
			 url("../fonts/roboto.woff2") format("woff2"),
			 url("../fonts/robotobold.woff") format("woff"),
			 url("../fonts/robotobold.woff2") format("woff2"),
			 url("../fonts/robotomedium.woff") format("woff"),
			 url("../fonts/robotomedium.woff2") format("woff2");
	font-weight: normal, /* 400 */
							 500, /* medium */
							 bold;   /* 700 */
	font-style: normal;
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

html,
body {
  min-width: 1160px;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
	font-weight: normal;
  line-height: 24px;
  color: #000000;
	
	background-color: #ffffff;
}

img { 
	max-width: 100%;
	height: auto;
}

a {
  text-decoration: none;
}

/*.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.header {
	padding-top: 49px;
	
	background-color: #eeeeee;
}

.header-wrapper {
	display: flex;
}

.container {
  width: 1200px;
  margin: 0 auto;
	padding: 0 20px;
}

.navigation-logo {
	width: 160px;
	margin-right: 200px;
}

.navigation {
	width: 500px;
	margin-right: 140px;
	
	font-weight: 500;
  line-height: 30px;
	text-transform: uppercase; 
}

.navigation-list {
	display: flex;
	flex-wrap: wrap;
	/*width: 440px;*/
	margin: 0;
  padding: 0;
	padding-top: 26px;
	
	list-style: none;
}	

.navigation-list li {
	/*display: flex;*/
	margin: 0;
	margin-right: 44px;
	margin-left: 2px;
  padding: 0;
	
}	

.header-basket {
	display: flex;
	justify-content: flex-end;
	width: 160px;
	margin: 0;
  padding: 0;
	padding-top: 26px;
	
	font-weight: 500;
  line-height: 30px;
	text-transform: uppercase; 
}

.header-basket::before {
  content: "";
	
	position: absolute;
	top: 32px;
  left: 45px;
	
  width: 15px;
  height: 15px;
  
	background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-basket {
	position: relative;
	padding-left: 40px;
}

.navigation-list a,
.header-basket a {
	padding-right: 0px; 
  
  color: #000000;
}

.navigation-list a:link,
.header-basket:link { /* Определяет стиль для обычной непосещенной ссылки */
	color: #000000;
}

.navigation-list a:visited,
.header-basket:visited { /* Определяет стиль для посещенной ссылки */
	color: #000000;
}

.navigation-list a:hover,
.header-basket:hover,
.navigation-list a:focus,
.header-basket:focus { /* Определяет стиль для ссылки при наведении на нее мышью */
	color: #fb565a;
}

.navigation-list a:active,
.header-basket:active { /* Определяет стиль для активной ссылки. Активной ссылка становится при нажатии на нее */
	color: #000000;
	opacity: 0.3;
}

 .navigation-item-current a {
	padding-bottom: 9px;
	color: #000000;
	border-bottom: solid 2px #fb565a;
}

/* MAIN */
/* SLIDER */
.slider{
	padding-top: 19px;
	
	background-color: #eeeeee;
}

.slider-item {
	margin: 0;
	padding: 0;
	display: flex;
  justify-content: space-between;
}

.slider-item label {
	display: block;
	padding-top: 66px;
	
	font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider-item p {
	display: block;
	padding-top: 28px;
	
  color: #283136;
}

.slider-item a {
	display: block;
	padding: 19px 23px 19px 22px;
  width: 240px;

  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  vertical-align: middle;
	text-align: center;
  text-transform: uppercase;

	background-color: #fb565a;
  border: none;
	border-radius: 3px;
}

.slider-item a:hover,
.slider-item a:focus {
  background-color: #e74246;
}

.slider-item a:active {
	color: rgba(255, 255, 255, 0.3);
	
  background-color: #d7373b;
	box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

.slider-radio {
 text-align: center;
}

/* FEATURES */
.features {
  padding-bottom: 80px;
	
	border-bottom: solid 2px #eeeeee;
}

.features-list {
	display: flex;
	flex-wrap: wrap;
  /*justify-content: flex-start;
	/*justify-content: space-between; /* ????? НЕ РАБОТАЕТ почему-то: расстояния между блоками больше 100пикс ????? */
  margin: 0;
	padding: 0;
	
	list-style: none;
}

.features-list li {
	width: 300px;
	margin: 0;
	margin-right: 100px; 
	margin-top: 80px;
	padding: 0;
}

/* .feature-item :nth-child(3n) { /
  margin-right: 60px;
}*/

.features-list li:last-child {
	margin-right: 60px;
}

/* h2 */
.features-item h2 { 
	margin: 0px;
	padding: 0px;
	margin-top: 18px;
	font-size: 24px;
	font-weight: bold;
  line-height: 30px;
	text-transform: uppercase; 
}

.features-item p { 
	margin: 0px;
	margin-top: 16px;
	margin-bottom: 32px;
	padding: 0px;
}

.features-item a {
	display: block;
	/*padding: 19px 39px 18px 39px;*/
	padding: 17px 39px 15px 39px;
  width: 160px;
	/*height: 50px;*/

  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  vertical-align: middle;
	text-align: center;
  text-transform: uppercase;

  border: none;
	border-radius: 3px;
}

.features-item-red {
  background-color: #fb565a;
}

.features-item-red:hover,
.features-item-red:focus {
  background-color: #e74246;
}

.features-item-red:active {
	color: rgba(255, 255, 255, 0.3); 
	
  background-color: #d7373b;
	box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

.features-item-green{
  background-color: #00ca74;
}

.features-item-green:hover,
.features-item-green:focus {
  background-color: #00bc6c;
}

.features-item-green:active {
	color: rgba(255, 255, 255, 0.3);
	
  background-color: #00aa62;
	box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

.features-item-yellow {
  background-color: #efc84a;
}

.features-item-yellow:hover,
.features-item-yellow:focus {
  background-color: #eab534;
}

.features-item-yellow:active {
	color: rgba(255, 255, 255, 0.3);
	
  background-color: #e5a722;
	box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

/* ABOUT STUDIO */
.about-columns {
  display: flex;
  justify-content: space-between;
	margin-top: 40px;
	margin-bottom: 75px;
}

.about-info {
	width: 700px; /* 660 */
}

.about-title {
	margin: 0;
	margin-top: 34px;
	padding: 0;
	font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-text {
	margin: 0;
	margin-top: 33px;
	padding: 0;
}

.about-subtitle {
	margin: 0;
	margin-top: 40px;
	padding: 0;
}

.about-info ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.about-info li::before {
  content: "";
	
	position: absolute;
	top: 36px;
  left: 1px;
	
  width: 25px;
  height: 1px;
  
	background-image: url("../img/li.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-info li {
	position: relative;
	padding-top: 23px;
	padding-left: 37px;
}

.about-statistic {
	width: 360px;
}

.about-statistic-table {
	width: 360px;
}

.about-statistic-table caption {
	margin: 0;
	margin-top: 30px;
	padding: 0;
}

.about-statistic-table td {
	width: 120px;
}

.statistic-table-percent {
	padding-top: 57px;
}

.statistic-table-description {
	padding-top: 32px;
}

.about-subtitle {
	font-weight: bold;
	text-transform: uppercase;
}

.statistic-table-percent {
	font-size: 45px;
	font-weight: bold;
	line-height: 10px;
}

.statistic-table-description {
	line-height: 18px;
	color: #283136;
}

/* PARTNERS */
.partners-list {
	padding-top: 46px; 
	padding-bottom: 40px;
	display: flex;
  /*justify-content: space-between;*/
	justify-content: flex-start;
	
	list-style: none;
	
	border-top: solid 2px #eeeeee;
	border-bottom: solid 2px #eeeeee;
}

.partners-list li {
	position: relative;

	margin: 0;
	margin-right: 40px;
	padding: 0;
	
	width: 260px;
	height: 90px;
}

.partners-list li:last-child {
	margin-right: 0px;
}

.partners-item-decor::before {
  content: "";
	
	position: absolute;
	top: 17px;
  right: 0px;
	
  width: 2px;
  height: 52px;
  
	background-color: #eeeeee;
  background-repeat: repeat;
  background-position: 0 0;
}

/*.partners-item {
	width: 260px;
}*/

.partners-item a {
	opacity: 0.2;
}

.partners-item a:hover,
.partners-item a:focus {
	opacity: 1;
}

.partners-item a:active {
	opacity: 0.1;
}

/* MAIN CATALOG */
/* H1 */
.page-title { 
	margin: 0px;
	padding: 0px;
	padding-top: 71px; 
	padding-bottom: 108px;
	
	font-size: 55px;
	font-weight: 500; /* medium */
  line-height: 55px;
	
	text-align: center;
}

/* Фильтры и сортировка */
.filter {
	width: 260px;
	margin: 0;
	padding: 0;
	margin-right: 140px;
}


/*************************************/
/*.filter-item {
  margin: 0;
  padding: 0;
  
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}
/*************************************/


.filter legend,
.sorting p {
	font-size: 18px;
	font-weight: bold;
  line-height: 30px;
	text-align: left;
  text-transform: uppercase;

  background-color: #ffffff;
}

.filter ul,
.sorting ul {
	list-style: none;
}

.filter-cost,
.filter-grid,
.filter-features {
	border: none;
}

.filter label { 
  line-height: 20px;
	color: #283136;
}

/* Кнопка Показать */
.filter button[type="submit"] {
	display: block;
	padding: 19px 88px 18px 89px;
  width: 260px;
	
	font-weight: 500;
  line-height: 18px;
  vertical-align: middle;
	text-align: center;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
	border-radius: 3px;
}

.filter button[type="submit"]:hover,
.filter button[type="submit"]:focus {
  background-color: #dfdfdf;
}

.filter button[type="submit"]:active {
  background-color: #d5d5d5;
	opacity: 0.3;
}

.catalog {
	width: 760px;
}

.catalog-sorting {
	display: flex;
}

.catalog-sorting-list {
	display: flex;
  justify-content: space-between; /* ДОДЕЛАТЬ */
}

.catalog-sorting ul {
 list-style: none;
}

.catalog-sorting a {
	font-size: 14px;
  line-height: 18px;
	color: #000000;
	opacity: 0.3;
  text-transform: uppercase;
}

.catalog-sorting a:hover,
.catalog-sorting a:focus {
	opacity: 0.6;
}

.catalog-sorting a:active,
.catalog-sorting-current {
	opacity: 1;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-work ul {
  list-style: none;
}

.catalog-list {
	display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.catalog-item {
	display: flex;
	width: 360px;
	margin-bottom: 33px;
	margin-right: 40px;
	
	text-align: center;	
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item a:hover .catalog-item-content {
	background-color: #eeeeee;	
}

.catalog-item-link {
	display: flex;
	flex-direction: column;
}

.catalog-item-content {
	display: flex;
	flex-direction: column;
	padding-top: 35px;
}

/* h3 */
.catalog-item-content h3 { 	
	font-size: 18px;
	font-weight: bold;
  line-height: 30px;
	color: #000000;
	text-transform: uppercase; 
}

.catalog-item-content h3:hover,
.catalog-item-content h3:focus {	
	color: #fb565a; 
}

.catalog-item-content h3:active {
	color: #000000;
	opacity: 0.3;
}

.catalog-item-content p {  
	color: #666666;
}

.button-price {
  margin: 0px auto; 
	margin-top: 30px; /* НЕ РАБОТАЕТ ????? */
	margin-bottom: 43px; /* НЕ РАБОТАЕТ ????? */
	padding: 19px 61px 18px 61px;
  /*width: 200px;*/

  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  vertical-align: middle;
	text-align: center;
  text-transform: uppercase;

	background-color: #fb565a;
  border: none;
	border-radius: 3px;
}

.button-price:hover,
.button-price:focus {
  background-color: #e74246;
}

.button-price:active {
  background-color: #d7373b;
}

.pagination-list {
	list-style: none;
}

.pagination-list {
	display: flex;
}

/* MAP */
.map {
	position: relative;
	margin: 0 auto;
	margin-top: 80px;
	width: 1440px;
}

.map-marker {
	content: "";
	position: absolute;

	top: 90px;
  left: 820px;
	
  width: 231px;
  height: 190px;
  
	/*background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
  background-position: 0 0;*/
}

.contact-info {
	position: absolute;
	
	top: 54px;
  left: 140px;
	
	width: 319px;
	padding: 34px 50px 47px;
	background-color: #ffffff; 
}

.contact-info h3 {
	margin: 0;
	margin-top: 18px;
	padding: 0;
}

.contact-info p {
	color: #666666; 
}

.contact-info-adress {
	margin: 0;
	padding: 0;
	display: block;
	margin-top: 25px;
	
	line-height: 18px;
}

.contact-info-tel {
	margin: 0;
	padding: 0;
	display: block;
	margin-top: 18px;
	margin-bottom: 38px;
	
	line-height: 18px;
}

.contact-info-tel a {
	color: #666666; 
}

.contact-info .button-contact-us {
	display: inline-block;
	/* padding: 19px 46px 19px 45px; */
  width: 219px; 
	height: 50px;

  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  vertical-align: middle;
	text-align: center;
  text-transform: uppercase;

	background-color: #fb565a;
  border: none;
	border-radius: 3px;
	
	/*cursor: pointer;*/
}

.contact-info .button-contact-us:hover,
.contact-info .button-contact-us:focus {
	background-color: #e74246;
}

.contact-info .button-contact-us:active {
	background-color: #d7373b;
	box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1); /* ????? НЕ РАБОТАЕТ ????? */
}

/* Форма Написать письмо нам*/
.form-letter {
	position: absolute;
	
	top: 25%; /* РАЗОБРАТЬСЯ */
  left: 25%;
	
	padding-top: 70px;
	padding-right: 100px;
	padding-left: 100px;
	width: 960px;
	height: 590px;
	
	background-color: #ffffff; 
	box-shadow: -20px 0px 40px 0px rgba(0, 1, 1, 0.75);
}

.form-letter fieldset{
	border: none;
	margin:0 ;
	padding: 0;
}

.form-letter legend {
	margin: 0;
	padding: 0;
	
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
}

/* Кнопка Отправить */
.form-letter input[type="submit"] {
	display: inline-block;
  width: 260px; 
	height: 50px;

  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  vertical-align: middle;
	text-align: center;
  text-transform: uppercase;

	background-color: #fb565a;
  border: none;
	border-radius: 3px;
}

.form-letter input[type="submit"]:hover,
.form-letter input[type="submit"]:focus {
  background-color: #e74246;
}

.form-letter input[type="submit"]:active {
	color: rgba(255, 255, 255, 0.3); 
	
  background-color: #d7373b;
	box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

.button-close {
	position: absolute;

	top: 78px;
  right: 90px;
	
  width: 21px;
  height: 21px;
  
	background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


/* FOOTER */
.footer {
	display: flex;
  justify-content: flex-start;
  margin-top: 69px; 
	margin-bottom: 69px;
}

.footer ul {
  list-style: none;
}

.footer-social {
	display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
	width: 260px;
	margin: 0;
	margin-right: 140px;
  padding: 0;
}

.footer-social-button {
	display: flex;
	align-items: center;
	justify-content: center;
  width: 79px;
	height: 79px;
	margin-bottom: 10px; /* если переполнение контентом, чтобы иконки не приклеивались друг к другу */
	
  color: #ffffff;
	
	background-color: #e1e1e1;
	border-radius: 50%;
}

.footer-social-button:hover,
.footer-social-button:focus {
	background-color: #e74246;
}

.footer-social-button:active {
	background-color: #d7373b;
	box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

.footer-social-button:active path {
	opacity: 0.3;
}

.footer-slogan {
	margin: 0;
	padding: 0;
}

.footer-slogan p {
	display: block;
	margin: 0;
	margin-top: 6px;
	padding: 0;
	
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;
} 

.footer-slogan small {
	display: block;
	margin: 0;
	margin-top: 10px;
	padding: 0;
	
	font-size: 16px;
	line-height: 22px;
	color: #444444;
	}