@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/roboto.woff") format("woff"),
			 url("../fonts/roboto.woff2") format("woff2"),
			 url("../fonts/robotobold.woff") format("woff"),
			 url("../fonts/robotobold.woff2") format("woff2"),
			 url("../fonts/robotomedium.woff") format("woff"),
			 url("../fonts/robotomedium.woff2") format("woff2");
	font-weight: normal, /* 400 */
							 500, /* medium */
							 bold;   /* 700 */
	font-style: normal;
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

html,
body {
  min-width: 1160px;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
	font-weight: normal;
  line-height: 24px;
  color: #000000;
	
	background-color: #ffffff;
}

img { 
	max-width: 100% 
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
	padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.header {
	padding-top: 49px;
	
	background-color: #eeeeee;
}

.header-wrapper {
	display: flex;
	flex-direction: row;
}

.navigation-logo {
	width: 160px;
	margin-right: 200px;
}

.navigation {
	width: 440px;
	margin-right: 200px;
	
	font-weight: 500;
  line-height: 30px;
	text-transform: uppercase; 
}

.navigation-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
  padding: 0;
	padding-top: 30px;
	
	list-style: none;
}	

.header-basket {
	width: 160px;
	margin: 0;
  padding: 0;
	padding-top: 30px;
	text-align: right;
	
	font-weight: 500;
  line-height: 30px;
	text-transform: uppercase; 
}

.navigation-list a,
.header-basket a {
  color: #000000;
}

.navigation-list a:link,
.header-basket:link { /* Определяет стиль для обычной непосещенной ссылки */
	color: #000000;
}

.navigation-list a:visited,
.header-basket:visited { /* Определяет стиль для посещенной ссылки */
	color: #000000;
}

.navigation-list a:hover,
.header-basket:hover,
.navigation-list a:focus,
.header-basket:focus { /* Определяет стиль для ссылки при наведении на нее мышью */
	color: #fb565a;
}

.navigation-list a:active,
.header-basket:active { /* Определяет стиль для активной ссылки. Активной ссылка становится при нажатии на нее */
	color: #000000;
	opacity: 0.3;
}

 .navigation-item-current a {
	color: #000000;
	border-bottom: solid 2px #fb565a; 
}

/* MAIN */
/* SLIDER */
.slider{
	padding-top: 19px;
	
	background-color: #eeeeee;
}

.slider-item {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
  justify-content: space-between;
}

.slider-item label {
	display: block;
	padding-top: 66px;
	
	font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider-item p {
	display: block;
	padding-top: 28px;
	
  color: #283136;
}

.slider-item a {
	display: block;
	padding: 19px 23px 19px 22px;
  width: 240px;

  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  vertical-align: middle;
	text-align: center;
  text-transform: uppercase;

	background-color: #fb565a;
  border: none;
	border-radius: 3px;
}

.slider-item a:hover,
.slider-item a:focus {
  background-color: #e74246;
}

.slider-item a:active {
  background-color: #d7373b;
}

.slider-radio {
 text-align: center;
}

/* FEATURES */
.features {
	margin-top: 80px;
  margin-bottom: 80px;
}

.features-list {
  margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
  /*justify-content: flex-start;*/
	justify-content: space-between; /* ????? НЕ РАБОТАЕТ почему-то: расстояния между блоками больше 100пикс ????? */
	
	list-style: none;
}

.feature-item { /* ????? НЕ РАБОТАЕТ почему-то ????? */
	width: 300px;
	margin-right: 100px; 
}

.feature-item:nth-child(3n) { /* ????? НЕ РАБОТАЕТ почему-то ????? */
  margin-right: 60px;
}

/* h2 */
.features-item h2 { 
	font-size: 24px;
	font-weight: bold;
  line-height: 30px;
	text-transform: uppercase; 
}

.features-item a {
	display: block;
	padding: 19px 39px 18px 39px;
  width: 160px;

  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  vertical-align: middle;
	text-align: center;
  text-transform: uppercase;

  border: none;
	border-radius: 3px;
}

.features-item-red {
  background-color: #fb565a;
}

.features-item-red:hover,
.features-item-red:focus {
  background-color: #e74246;
}

.features-item-red:active {
  background-color: #d7373b;
}

.features-item-green{
  background-color: #00ca74;
}

.features-item-green:hover,
.features-item-green:focus {
  background-color: #00bc6c;
}

.features-item-green:active {
  background-color: #00aa62;
}

.features-item-yellow {
  background-color: #efc84a;
}

.features-item-yellow:hover,
.features-item-yellow:focus {
  background-color: #eab534;
}

.features-item-yellow:active {
  background-color: #e5a722;
}

/* ABOUT STUDIO */
.about-columns {
  display: flex;
	flex-direction: row;
  justify-content: space-between;
}

.about-info {
	width: 700px; /* 660 */
}

.about-title {
	font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-info ul {
	list-style: none;
}

.about-info li {
	padding-top: 20px;
}

.about-statistic {
	width: 360px;
}

.about-statistic-table {
	width: 360px;
}

.about-statistic-table td {
	width: 120px;
}

.about-subtitle {
	font-weight: bold;
	text-transform: uppercase;
}

.statistic-table-percent {
	padding-top: 52px;
	
	font-size: 45px;
	font-weight: bold;
	line-height: 10px;
}

.statistic-table-description {
	padding-top: 27px;
	
	line-height: 18px;
	color: #283136;
}

/* PARTNERS */
.partners-list {
	padding-top: 46px; 
	padding-bottom: 48px;
	display: flex;
	flex-direction: row;
  justify-content: space-between;
	align-items: center;
	
	list-style: none;
	
	border-top: solid 2px #eeeeee;
	border-bottom: solid 2px #eeeeee;
}

.partners-item {
	width: 260px;
}

.partners-item a {
	opacity: 0.2;
}

.partners-item a:hover,
.partners-item a:focus {
	opacity: 1;
}

.partners-item a:active {
	opacity: 0.1;
}

/* MAIN CATALOG */
/* H1 */
.page-title { 
	padding-top: 85px; 
	padding-bottom: 117px;
	
	font-size: 55px;
	font-weight: 500; /* medium */
  line-height: 55px;
	
	text-align: center;
}

/* Фильтры и сортировка */
.filter {
	width: 260px;
	margin: 0;
	padding: 0;
	margin-right: 140px;
}

.filter legend,
.sorting p {
	font-size: 18px;
	font-weight: bold;
  line-height: 30px;
	text-align: left;
  text-transform: uppercase;

  background-color: #ffffff;
}

.filter ul,
.sorting ul {
	list-style: none;
}

.filter-cost,
.filter-grid,
.filter-features {
	border: none;
}

.filter label { 
  line-height: 20px;
	color: #283136;
}

/* Кнопка Показать */
.filter button[type="submit"] {
	display: block;
	padding: 19px 88px 18px 89px;
  width: 260px;
	
	font-weight: 500;
  line-height: 18px;
   vertical-align: middle;
	text-align: center;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
	border-radius: 3px;
}

.filter button[type="submit"]:hover,
.filter button[type="submit"]:focus {
  background-color: #dfdfdf;
}

.filter button[type="submit"]:active {
  background-color: #d5d5d5;
	opacity: 0.3;
}

.catalog {
	width: 760px;
}

.catalog-sorting {
	display: flex;
}

.catalog-sorting-list {
	display: flex;
	flex-direction: row;
  justify-content: space-between; /* ДОДЕЛАТЬ */
}

.catalog-sorting ul {
 list-style: none;
}

.catalog-sorting a {
	font-size: 14px;
  line-height: 18px;
	color: #000000;
	opacity: 0.3;
  text-transform: uppercase;
}

.catalog-sorting a:hover,
.catalog-sorting a:focus {
	opacity: 0.6;
}

.catalog-sorting a:active,
.catalog-sorting-current {
	opacity: 1;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-work ul {
  list-style: none;
}

.catalog-list {
	display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.catalog-item {
	display: flex;
	width: 360px;
	margin-bottom: 33px;
	margin-right: 40px;
	
	text-align: center;	
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item a:hover .catalog-item-content {
	background-color: #eeeeee;	
}

.catalog-item-link {
	display: flex;
	flex-direction: column;
}

.catalog-item-content {
	display: flex;
	flex-direction: column;
	padding-top: 35px;
}

/* h3 */
.catalog-item-content h3 { 	
	font-size: 18px;
	font-weight: bold;
  line-height: 30px;
	color: #000000;
	text-transform: uppercase; 
}

.catalog-item-content h3:hover,
.catalog-item-content h3:focus {	
	color: #fb565a; 
}

.catalog-item-content h3:active {
	color: #000000;
	opacity: 0.3;
}

.catalog-item-content p {  
	color: #666666;
}

.button-price {
  margin: 0px auto; 
	margin-top: 30px; /* НЕ РАБОТАЕТ ????? */
	margin-bottom: 43px; /* НЕ РАБОТАЕТ ????? */
	padding: 19px 61px 18px 61px;
  /*width: 200px;*/

  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  vertical-align: middle;
	text-align: center;
  text-transform: uppercase;

	background-color: #fb565a;
  border: none;
	border-radius: 3px;
}

.button-price:hover,
.button-price:focus {
  background-color: #e74246;
}

.button-price:active {
  background-color: #d7373b;
}

.pagination-list {
	list-style: none;
}

.pagination-list {
	display: flex;
}

/* MAP */
.map-wrapper {
	text-align: center;
}

.contact-info {
	width: 319px;
	padding: 54px 50px 47px;
	background-color: #ececec; /* #ECECEC */
}

.contact-info button {
	display: inline-block;
	padding: 19px 46px 19px 45px; 
  width: 219px; /* ????? ПОЧЕМУ кнопка встает в две строки ????? */

  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  vertical-align: middle;
	text-align: center;
  text-transform: uppercase;

	background-color: #fb565a;
  border: none;
	border-radius: 3px;
	
	/*cursor: pointer;*/
}

.contact-info p {
	color: #666666; 
}

.contact-info a {
	color: #666666; 
}

/* FOOTER */
.footer {
  margin-top: 69px; 
	margin-bottom: 69px;
	
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
}

.footer ul {
  list-style: none;
}

.footer-social {
	width: 260px;
	
	margin-right: 140px;
}

.footer-social ul {
	text-align: center;
}

.footer-social-button {
 /* width: 79px;
	height: 79px;*/
	
  color: #ffffff;
	
	background-color: #e1e1e1;
}

.footer-social-button:hover,
.footer-social-button:focus {
	background-color: #e74246;
}

.footer-social-button:active {
	background-color: #d7373b;
}

.footer-slogan {
	margin: 0;
	padding: 0;
}

.footer-slogan p {
	margin: 0;
	padding: 0;
	
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;
} 

.footer-slogan small {
	display: block;
	margin: 0;
	margin-top: 10px;
	padding: 0;

	line-height: 22px;
	color: #444444;
	}